body{
    background-image: url("flores.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}
p{
    background-color: darkorchid;
    opacity: 0.6;
    font-size: 20px;
}